/* 🔥 Animated Brand Text */

.animated-text {
  font-weight: 800;
  font-size: 1.8rem;

  background: linear-gradient(
    270deg,
    #ff0000,
    #ff9900,
    #ffff00,
    #00ff00,
    #00ffff,
    #0000ff,
    #ff00ff,
    #ff0000
  );

  background-size: 800% 800%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 8s ease infinite;
}

/* Animation Keyframes */

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* ===== SCROLL ANIMATION ===== */

.service-card {
  opacity: 0;
  transition: all 0.9s ease;
}

/* Left */
.from-left {
  transform: translateX(-100px);
}

/* Right */
.from-right {
  transform: translateX(100px);
}

/* Bottom */
.from-bottom {
  transform: translateY(100px);
}

/* Active (when visible) */
.show {
  opacity: 1;
  transform: translate(0);
}

section {
  scroll-margin-top: 80px;
}

/* EXTRA PRO MOBILE IMPROVEMENT */
img, video {
  max-width: 100%;
  height: auto;
}

/* 🔥 Typing Cursor Effect */
#typing-text::after {
  content: "|";
  animation: blink 0.7s infinite;
  margin-left: 3px;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

#projectSlider {
  overflow-x: hidden;
}

video {
  object-fit: cover;
}

.navbar a {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.navbar {
  overflow: hidden;
}

@media (max-width: 768px) {
  iframe[title="chat widget"] {
    right: 10px !important;
    bottom: 10px !important;
    max-width: 90% !important;
  }
}